body {
    background-color: lightsteelblue;
    color: black;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    font-family: 'Arimo', sans-serif;
}

.title {
    font-size: 50px;
    padding-bottom: 90px;
    text-decoration: underline;
}

.visualiser {
    display: flex;
    justify-content: center;
}


.gridText {
    font-size: 30px;
    text-align: center;
}

.bitGrid {
    width: 400px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border: solid 5px black;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

button.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 5px black;
    box-sizing: border-box;
    color: black;
    font-size: 70px;
    font-family: 'Arimo', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.square:hover {
    background-color: lightgray;
}

.square[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
}

.square:active {
    background-color: grey;
}

.resetButton {
    border: 0; 
    background: transparent;
    margin-top: 50px;
}

